@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

body {
    font-family: "Roboto", sans-serif;
}

/* Menu */
header{
    width: 100%;
    height: 650px;
    background-image: url(assets/banner.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
}
header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: -1;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 78px;
    box-sizing: border-box;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 18px;
    padding: 0 14px;
}
.nav-link{
    position: relative;
}
.nav-link::before{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #c69453;
    left: 50%;
    bottom: 0;
    top: 50px;
    transform: translateX(-50%);
    visibility: hidden;
    transition: .3s ease-in-out;
} 
.nav-link:hover::before{
    width: 100%;
    visibility: visible;
}

/* Dropdown Menu */
.navbar-nav .nav-item:hover .dropdown-menu{
    display: inline-block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #fff;
    border: none;
    z-index: 1000;
    padding: 0;
}
.dropdown-menu .dropdown-item{
    text-align: center;
    color: #000;
    font-size: 16px;
    padding: 15px 0;
}
.navbar-nav .dropdown-menu .dropdown-item {
    padding: 20px 20px;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #95a5a6;
    color: #eba03f;
}

/* Banner */
.banner{
    margin-top: 170px;
}
.banner h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 10px;
}
.banner h3{
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
    position: relative;
}
.banner h3::before{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 410px;
    top: 50%;
}
.banner h3::after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 410px;
    top: 50%;
}
.banner .btn{
    background-color: #c69453;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 20px 50px;
    border-radius: 30px;
    font-weight: 700;
    transition: .3s;
}
.btn:hover{
    background-color: #fff;
    color: #c69453;
}

/* Service */
.service{
    background-color: #f8f8f8;
    padding: 50px 0;
}
.card{
    border: none;
    padding: 30px 0;
    transition: .3s;
}
.card:hover{
    background-color: #b4b2b1;
}
.card:hover .card-img-top{
    transform: rotateY(100deg);
}
.card:hover .cb{
    background-color: #fff;
    color: #c69453;
}
img.card-img-top {
    width: 100px;
    margin: auto;
    padding: 10px 0;
}
.card-title{
    text-transform: uppercase;
    font-size: 18px;
}
.card-text{
    font-size: 16px;
    padding: 10px 0;
}
.card-btn .cb{
    background-color: #c69453;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    transition: .5s;
}
.cb:hover{
    background-color: black !important;
    color: #fff !important;
}

/* About */
.about{
    padding: 80px 0;
}
.about-content h1{
    position: relative;
}
.about-content h1::after {
    content: "Works";
    display: block;
    position: absolute;
    color: #c69453;
    right: 200px;
    top: 0;
}
.about-content p{
    padding: 8px 0;
    color: #767676;
}
details{
    margin-bottom: 20px;
}
.btn-ac{
    background-color: black;
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
    transition: .3s;
}
.btn-ac:hover{
    background-color: #eba03f;
    color: #fff;
}

/* Contact */
.contact{
    background-color: #f8f8f8;
    padding: 40px 0;
}
.contact-text h6{
    padding: 15px 0;
}
.name{
    width: 440px;
    height: 50px;
    border: 1px solid #f3dede;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.email{
    width: 440px;
    height: 50px;
    border: 1px solid #f3dede;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.Phone{
    width: 440px;
    height: 50px;
    border: 1px solid #f3dede;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}
textarea{
    border: 1px solid #f3dede;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.submit{
    background-color: #c69453;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    transition: .3s;
}
.submit:hover{
    background-color: #fff;
    color: #c69453;
}
.contact-img img{
    width: 100%;
    height: 600px;
}

/* Footer */
.footer{
    background-color: #6d6d6d;
    padding: 50px 0;
}
.footer-content p{
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}
.footer-icon i{
    color: #fff;
}
.footer-icon a{
    text-decoration: none;
    margin-left: 20px;
}
  